html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #65686c;
}

*{
    user-select: none;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    width: 100%;
    max-width: 251px;
    height: 100%;
    color: white;
    z-index: 1000;
}

main{
    height: fit-content;
    width: 100%;
    max-width: 990px;
}

.home-a{
    text-decoration: none;
}

.letf-bar-access{
    max-width: 251px;
}

.menu{
    max-width: 251px;
}

.menu li{
    list-style-type: none;
    height: 58px;
}

.menu li:hover{
    cursor: pointer;
}

.right-bar{
    max-width: 350px;
    height: 990px;
    padding-left: 10px;
    overflow-y: hidden;
}

.right-bar-content{
    height: 980px !important;
}

.logo-div{
    margin-left: 10px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
}

.logo-div svg{
    height: 30px;
}

.left-bar ul li svg{
    height: 24.25px;
    width: 24.25px;
}

.left-bar ul li svg g{
    height: 24.25px;
    width: 28px;
}

header .r-yyyyoo{
    margin-top: -9px;
}

.r-1cvl2hr {
    color: rgb(29, 155, 240);
}

.tweet-btn{
    text-decoration: none;
}

.tweet-div{
    font-size: 20px;
    width: 226px;
    height: 52px;
    border-radius: 9999px;
}

.left-bar .text-span{
    font-size: 20px;
    margin-left: 10px;
}

.content{
    width: 75%;
    margin-top: 56px;
}

.label-left-bar{
    display: none;
}

.sparkle-a{
    display: none;
    right: 0;
}

.home-span{
    display: none;
}

.content-div{
    max-width: 640px;
    height: 1600px;
}


.close-mbleftbar-div{
    height: 100vh;
    display: flex;
    display: none;
    z-index: 1000;
}

.close-div{
    width: calc(100% - 280px);
    right:0;
    height: 100vh;
    background-color: white;
    opacity: 0.1;
}

.mobile-leftbar{
    max-width: 280px;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
}

.checkbox-left-bar{
    display: none;
}

.top-info{
    font-size: 17px;
    max-width: 280px;
    height: 53px;
    padding-left: 24px;
    background-color: black;
}

.profile-info{
    padding: 14px;
    padding-left: 24px;
    height: 152px;
}

.close-mbleftbar-div .bar-btns svg{
    width: 25px;
    height: 22px;
}

.plus-div{
    width: 32px;
    height: 32px;
}

.plus-div:active{
    background-color: rgba(255, 255, 255, 0.295);
}

.close-mbleftbar-div .profile-info svg{
    width: 25px;
    height: 22px;
}

.text-name:active{
    text-decoration: underline;
}

.text-username{
    margin-top: -5px;
    color: #65686c;
}

.ff-info{
    margin-top: -5px;
    gap: 15px;
}

.ff-text{
    color: #65686c;
}

.bar-btns{
    height: 280px;
}

.mb-side-ul{
    padding-left: 24px;
}

.link{
    height: 56px;
    display: flex;
    align-items: center;
}

.buttom-sec{
    margin-top: -14px;
    height: 156px;
}

.buttom-sec-li{
    height: 52px;
    padding-left: 24px;
    padding-right: 14px;
    list-style-type: none;
}

.for-p-b{
    height: 637px;
}

.buttom-sec-svg{
    right: 14px;
}

.close-mbleftbar-div .buttom-sec svg{
    width: 22px;
    height: 20px;
    margin-top: 0;
}

.bar-btns ul li a span{
    font-size: 20px;
    margin-left: 20px;
}

.hr-div{
    margin-left: 12px;
}


/*content*/

.top-content{
    width: 100%;
    max-width: 637px;
    height: 53px;
    backdrop-filter:blur(20px);
    display: flex;
    z-index: 1000;
}

.top-content-sparkle-a{
    right: 10px;
}

.top-of-content{
    height: 120px;
    padding-right: 14px;
    display: flex;
}

.top-of-content-input{
    outline: none;
}

.top-of-content-icon-btn{
    height: 36px;
    bottom: 10px;
    display: flex;
}

.d1{
    position: relative;
}

.top-of-content-icon{
    max-width: 215px;
}

.top-of-content-svg{
    width: 22px;
    height: 22px;
}

.top-of-content-btn-div{
    position: absolute;
    right: 0;
}

.top-of-content-btn{
    width: 84px;
    height: 36px;
    background-color: rgb(29, 155, 240);
}

.show-more{
    display: flex;
}

.user-content-svg{
    width: 22px;
    height: 26px;
    right: 0;
    color: rgb(113, 118, 123);
}

.user-reaction{
    margin-top: 15px;
    max-width: 425px;
}

.user-re-answer{
    color: rgb(113, 118, 123);
    width: 18px;
    height: 17px;
}

.user-re-answer path{
    transform: scale(0.8);
}

.all-content{
    position: relative;
}

.user-content-image img{
    margin-top: 10px;
    width: 100%;
    max-width: 500px;
}

/*rightbar*/
.right-bar svg {
    height: 24.5px;
    width: 24.5px;
}
  
.right-bar .r-yyyyoo {
    margin-top: 0;
    justify-content: center;
    color: white;
}
  
.input-search {
    outline: none;
}
  
.grey-box,
.list-group > * {
    background-color: #16181c !important;
}
  
.djurgården-trend:hover,
.elon-trend:hover,
.spootify-trend:hover,
.ryssland-trend:hover,
.taylor-trend:hover,
.nackademin-trend:hover,
.k-pop-trend:hover,
.aftonbladet-trend:hover,
.avanza-trend:hover,
.svt-trend:hover,
.show-trend:hover {
    opacity: 0.8;
}
  
.link-show {
    text-decoration: none;
}
  
.show-color{
    color: rgb(30, 144, 255) !important;
}

.right-bar-content{
    width: 335px;
    height: 100vh;
}


@media (max-width: 1281px){
    header{
        width: 100%;
        max-width: 60px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        float: right;
        padding-right: 5px;
    }

    body{
        justify-content: center;
        overflow-x: hidden;
    }

    .letf-bar-access{
        position: fixed;
        width: 100%;
        max-width: 60px;
        display: flex;
        justify-content: end;
    }

    .left-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .left-bar nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo-div{
        margin-right: -10px;
    }

    .right-bar{
        max-width: 350px;
        width: 100%;
        display: flex;
    }

    .text-span{
        display: none;
    }

    .tweet-div-for-svg{
        display: block;
    }

    .tweet-div{
        width: 52px;
    }

    .tweet-span{
        display: none;
    }

    .tweet-svg{
        width: 25px;
        height: 23px;
    }
}

@media (max-width: 1094px) {
    body{
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
    .right-bar{
        max-width: 290px;
    }

    main{
        max-width: 880px;
        width: 100%;
    }

    .content{
        max-width: 600px;
    }

    .top-content{
        width: 100%;
        max-width: 590px;
    }

    .right-bar-content{
        width: 275px;
    }
}

@media (max-width: 1004px){
    .right-bar{
        position: absolute;
        width: 0px;
        visibility: hidden;
    }
    
    header{
        width: 100%;
        max-width: 88px;
        height: 100%;
    }

    .letf-bar-access{
        position: fixed;
        width: 100%;
        max-width: 60px;
    }

    body{
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }

    .content{
        width: 100%;
    }
    
    main{
        width: 100%;
        max-width: 600px;
    }

    .content-div{
        max-width: 600px;
        width: 100%;
    }

    .right-bar{
        display: none;
    }

    .top-content{
        width: calc(100% - 88px);
        max-width: 600px;
    }
}


@media (max-width: 499px){

    ::-webkit-scrollbar {
        width: 3px;
        background: transparent;
    }

    body{
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        margin: 0;
        overflow-x: hidden;
    }

    header{
        width: 100%;
        height: 50px;
        max-width: 499px;
        align-items: center;
        display: flex;
        position: fixed;
        backdrop-filter: blur(20px);
    }

    .sparkle-a{
        display: block;
        right: 15px;
    }

    .top-access-btn{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        color: white;
        text-align: center;
        align-items: center;
        padding-left: 15px;
        width: 100%;
        max-width: 499px;
    }

    .letf-bar-access{
        width: 100%;
        max-width: 499px;
    }

    .left-bar{
        display: none;
    }

    .text-span{
        display: block;
    }

   .tweet-btn{
        display: none;
   }


    .label-left-bar{
        display: block !important;
    }    

    #checkbox-left-bar:checked ~ .close-mbleftbar-div{
        display: block;
    }

    .link{
        width: 100%;
        position: sticky;
    }

    .main{
        margin-top: 50px;
        width: 100%;
    }

   .content{
        width: 100%;
        margin-top: 0;
    }

   .home-span{
        display: block;
    }
    
    .top-content{
        display: none;
    }

    .top-of-content{
        display: none;
    }

    .top-of-content{
        display: none;
    }
}


